/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;700&display=swap'); /* font-family: 'Barlow Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap'); /* font-family: 'Bellefair', serif; */
body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Barlow Condensed', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

.w-1 {
    background-image: url('../assets/jpg/web/background-home-desktop.jpg');
}

.w-2 {
    background-image: url('../assets/jpg/web/background-destination-desktop.jpg');
}

.w-3 {
    background-image: url('../assets/jpg/web/background-crew-desktop.jpg');
}

.w-4 {
    background-image: url('../assets/jpg/web/background-technology-desktop.jpg');
}

.burger-nav, #burgerOpen {
    display: none;
    z-index: 10;
}

.burger-menu {
    min-height: 100vh;
    position: absolute;
    width: 0;
    right: 0;
    top: 0;
    backdrop-filter: blur(50px);
    background-color: #ffffff0a;
    transition: width .5s ease-in-out;
}

#burgerWrapper {
    height: 0;
    overflow: hidden;
    margin-top: 34px;
    transition: height .5s ease-in-out;
}

.burger-menu #burgerClose {
    float: right;
    margin: 0 26.45px 65px 0;
}

.burger-menu ul {
    backdrop-filter: unset;
    background-color: unset;
}

.burger-menu a {
    padding: 16px 0;
    margin-left: 32px;
    margin-right: unset;
    width: 87.5%;
}

.burger-menu span {
    font-weight: bold;
}

.burger-menu a:hover {
    border: unset;
    border-right: 3px #FFF solid;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

#forwardsBtn:hover {
    border: unset;
}

nav .active {
    border-bottom: 3px #fff solid;
}

nav .navbar-dash {
    border: 1px solid #979797;
    width: 470px;
    position: absolute;
    top: 44%;
    right: 39%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

ul {
    padding-left: 100px;
    padding-right: 141px;
    backdrop-filter: blur(50px);
    background-color: #ffffff0a;
    user-select: none;
}

li {
    width: fit-content;
    display: inline;
    user-select: none;
}

a {
    display: inline-block;
    list-style: none;
    user-select: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 37px 0;
    margin: 0 24px;
    font-size: 16px;
    letter-spacing: 2.7px;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
}

.numeric {
    font-weight: bold;
}

a:hover {
    border-bottom: 3px #979797 solid;
}

nav .active:hover {
    border-bottom: 3px #fff solid;
}

.landing-main {
    width: 1110px;
    max-width: 100%;
    margin: 15% auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text-wrapper {
    width: 450px;
    max-width: 100%;
}

.text-wrapper h5, .text-wrapper h1, .text-wrapper p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.text-wrapper h5 {
    color: #D0D6F9;
    font-size: 28px;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Barlow Condensed', sans-serif;
}

.text-wrapper h1 {
    font-size: 150px;
    font-family: 'Bellefair', serif;
    font-weight: normal;
    text-transform: uppercase;
}

 .text-wrapper p {
    color: #D0D6F9;
    font-size: 18px;
    line-height: 32px;
    font-weight: lighter;
    font-family: 'Barlow Condensed', sans-serif;
}

.landing-main button {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;    
    font-family: 'Bellefair', serif;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 32px;
    letter-spacing: 2px;
    width: 274px;
    height: 274px;
    padding: 0;
    animation: heartbeat 1.7s ease-in-out infinite alternate;
    cursor: pointer;
}

.landing-main button:hover {
    animation: btn-hover .3s ease-in-out forwards;
}

.page-header {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-weight: normal;
    letter-spacing: 4.7px;
    font-size: 28px;
    width: 1135px;
    margin: 75px auto 0 auto;
}

.page-header span {
    color: #51525B;
    padding-right: 28px;
    font-weight: bold;
}

.crew-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 90%;
}

.display-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1135px;
    margin: 65px auto 0 auto;
    max-width: 100%;
}

.display-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1135px;
    margin: 65px auto 0 auto;
    max-width: 100%;
}

.display-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 445px;
    max-width: 100%;
}

#crewImg {
    height: 700px;
}

#planetImg {
    animation: rotation 17s linear infinite;
}

.di-nav ul {
    padding: unset;
    margin: unset;
    background: unset;
    backdrop-filter: unset;
}

.di-nav li {
    font-size: 16px;
    color: #D0D6F9;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-weight: lighter;
    margin-right: 35px;
    cursor: pointer;
}

.di-nav .active {
    color: #FFF;
    border-bottom: 3px #fff solid;
}

.di-nav li:hover {
    border-bottom: 3px #979797 solid;
}

.di-nav .active:hover {
    color: #FFF;
    border-bottom: 3px #fff solid;
}

.display-header {
    color: #FFF;
    font-size: 100px;
    font-family: 'Bellefair', serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

#crewRank {
    font-size: 32px;
    font-family: 'Ballefair', serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: #8E9096;
    margin: 0;
}

#crewName {
    font-size: 56px;
    width: max-content;
}

.display-desc {
    margin: 0;
    color: #D0D6F9;
    font-size: 18px;
    line-height: 32px;
    font-weight: lighter;
}

.display-hr {
    margin: 50px 0 25px 0;
    border: 1px #97979723 solid;
    width: 100%;
}

.display-avg-wrapper {
    display: flex;
    justify-content: flex-start;
}

.display-avg-wrapper div {
    margin-right: 80px;
}

.display-avg-wrapper div > * {
    display: block;
    white-space: nowrap;
}

.scroll-dots {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: fit-content;
}

.scroll-dots div {
    width: 15px;
    height: 15px;
    background-color: #FFF;
    opacity: .3;
    border-radius: 50%;
    margin-right: 24px;
    cursor: pointer;
}

.scroll-dots div:hover {
    opacity: .5;
    transition: opacity .3s ease-in-out;
}

.scroll-dots .active {
    opacity: 1;
}

.scroll-dots .active:hover {
    opacity: 1;
    transition: unset;
}

.avg-head {
    color: #D0D6F9;
    font-size: 14px;
    letter-spacing: 2.35px;
    text-transform: uppercase;
}

.avg-val {
    color: #fff;
    font-size: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
}

.tech-line {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #D0D6F9;
    letter-spacing: 2.7px;
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
}

.tech-scrollbar div {
    border-radius: 50%;
    border: 1px solid #4D4F57;
    width: 80px;
    height: 80px;
    position: relative;
    margin: 16px 0;
    cursor: pointer;
}

.tech-scrollbar div:hover {
    border: 1px solid #FFF;
    transition: border .3s ease-in-out;
}

.tech-scrollbar span {
    font-size: 32px;
    font-family: 'Bellefair', serif;
    letter-spacing: 2px;
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-53%, -53%);
    color: #FFF;
}

.tech-scrollbar .active {
    background-color: #FFF;
}

.tech-scrollbar .active:hover {
    border: 1px solid #4D4F57;
    transition: unset;
}

.tech-scrollbar .active > span {
    color: #0B0D17;
}

#techName {
    font-size: 56px;
    width: max-content;
}

@keyframes btn-hover {
    0% {
        box-shadow: 0 0 0 0px #fff;
    } 100% {
        box-shadow: 0 0 0 10px #ffffff66;
    }
}

@keyframes heartbeat {
    0% {
        box-shadow: #fff 0 0 15px;
    } 100% {
        box-shadow: #fff 0 0;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg) scale(1);
    } 
    100% {
        transform: rotate(360deg) scale(1);
    }
}